// Colors
$white: #fff;
$light-grey: #f1f3f5; // Search background and border product card
$grey: #979593; // Text "Seguir comprando"
$dark-grey: #272727; // Product title and Category text
$light-red: #ea413e; // Price
$red: #e82b27; // Button delete product cart
$dark-red: #a3000b; // Button delete hover
$light-blue: #50a3bd; // Icons and logo
$blue: #0d4599; // Button add cart
$dark-blue: #001751; // Button add cart hover
$darker-blue: #0c0745; // Header navbar background
$black: #000; // Product description
