@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body {
  margin: 0;

  #app {
    box-sizing: border-box;
    font-family: "Monserrat", sans-serif;
    font-size: 16px;
  }

  h3 {
    font-size: 1.25rem; // 20px
  }

  h4 {
    font-size: 1.125rem; // 18px
  }

  p {
    font-size: 0.875rem; // 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.125rem;
    letter-spacing: 0.005rem;
  }
}
